main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba(255,255,255,1);
}

main > form {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
}

.first-line-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 20vh;
    align-items: center;
    justify-content: space-between;
}
.title{
    padding:5vh;
    border-radius: 32px;
    font-size: 2vw;
    display: flex;
}
.first-line-left-container {
    color: #330436;
}

.first-line-left-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #330436;
    background: #DA4AC21A;
    border-radius: 18px;
}

.first-line-left-container > input {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 18px;
    color: #330436;
    background: #DA4AC21A;
    opacity: 0.8;
    margin-top: 1vh;
    width: 80%;
    padding: 0 5vh;
    height: 5vh;
    font-size: 2.5vh;
    border: 1px solid #330436;
}


.first-line-left-container > input::placeholder {
    display: flex;
    flex-direction: row;
    font-size: 2vh;
    border-bottom: 0.2vh solid #330436;
    color: #330436;
    opacity: 1.0;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.file-upload {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;

}

.custom-file-input {
    border-radius: 18px;
    border: 2px solid #330436;
    width: 18vh;
    height: 18vh;
    background-image: url("/public/img/placeholder-trip.jpg");
}
.human {
    background-image: url("/public/img/person-placeholder.jpg");
}


.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    opacity: 0.8;
    background: transparent;
    content: 'add photo';
    cursor: pointer;
    font-size: 2vh;
    color: #330436;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
}

.custom-file-input:hover::before {
    opacity: 1.0;
}

.create-trip-container > i {

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    font-size: 10px;
}



.left> textarea, .create-trip-container {

    margin-top: 1vh;
    padding: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 92%;
    flex-wrap: wrap;
    height: 20%;
    color: #330436;
    background: #DA4AC21A 0% 0% no-repeat padding-box;
    border: 1px solid #330436;
    border-radius: 18px;
    opacity: 0.73;
}

form > textarea::placeholder, .create-trip-container::placeholder {
    color: #330436;
}

.point {
    color: #ffffff;
    margin-top: 1vh;
    margin-left: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    overflow: hidden;
    height: 20%;
    border-radius: 18px;
    background: transparent linear-gradient(180deg, #5B0461 0%, #7C3E72B3 100%) 0% 0% no-repeat padding-box;
    font: normal normal normal 2.5vh Roboto Slab;
    font-size: 2vh;
    flex-direction: row;
    text-align: right;
    padding: 5px;
}
.point>i{
    margin-top: 1vh;
    margin-right: 1vw;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 10%;
    font-size: 7px;
}
.marker{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2vh;
}
.marker>i{
    font-size: 2vh;

}

.date-container {
    margin-top: 2vh;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
}
.date-input-container{
    border-radius: 18px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    font-size: 3vh;
    font-weight: 800;
    color: #330436;
}
.date-display>i{

    color: #330436;
    font-size: 15px;
}

.date-input-container>input{
    border: 1px solid #330436;
    display: flex;
    background: #DA4AC21A;
    border-radius: 18px;
    height: 6vh;
    color: #330436;
}
.date-display{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 32px;
    border: 1px solid #330436;
    background-color: #DA4AC21A;
    font-size: 2.5vh;
    padding: 1vw;
    width: 30%;
}

button {
    width: 12vw;
    height: 6vh;
    color: white;
    border: none;
    border-radius: 32px;
    background: transparent linear-gradient(180deg, #5B0461 0%, #7C3E72B3 100%) 0% 0% no-repeat padding-box;
}


@media only screen and (max-device-width: 800px) {
    .create-trip-container {

    }

    .point {
        width: 20%;
    }
}

input::-webkit-clear-button {
    display: none;
}

input::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1
}

input::-webkit-calendar-picker-indicator:hover {
    cursor: pointer;
}


::-webkit-calendar-picker-indicator:before {
    color: #330436;
}

@media only screen and (max-device-width: 800px) {
    .first-line {
        width: 100%;
    }

    .custom-file-input {
        width: 15vh;
        height: 15vh;
    }

    .first-line-left-container > input {
        padding: 0 5vw;
    }



    form textarea, .create-trip-container {
        width: 90%;
        padding: 2vw;
    }
    .point{
        margin-top: 0.1vh;
    }

    .date-input-container {
        width: 48%;
    }

    form > button {
        width: 60%;
    }
}

.info-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}
.left{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}
.right{
    margin-top: 2vw;
    margin-left: 5vw;
    /*border-radius: 32px;*/
    /*border: 1px solid #330436;*/
    /*background: #DA4AC21A 0% 0% no-repeat padding-box;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 80vh;
    width: 15vw;
}
.right-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 60%;
    border-radius: 12px;
    border: 1px solid #330436;
    background: #DA4AC21A 0% 0% no-repeat padding-box;
}
.owner{
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15vw;
    height: 7vh;
    justify-content: center;
    color: #220214;
}

.participant{
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15vw;
    height: 7vh;
    justify-content: center;
    color: #220214;
}
.participant>a, .owner>a{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    color: #330436;
    width: 90%;
}
.participant>a>img, .owner>a>img{
    display: flex;
    flex-direction: row;
    border-radius: 100%;
    width: 6vh;
    height: 6vh;
    margin-right: 2vw;
}
.participant:first-child{
    margin-top: 1vh;
}
.participant:hover{
    background-color: #C949B10A;
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.create-trip-container>.places{
    font-weight: 900;
    color: #330436;
}