body {
    margin: 0;
}

.projects {
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    white-space: nowrap;
    overflow-x: scroll;

}

.project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90%;
    min-width: 35%;

}





header {
    position: sticky;
    display: flex;
    justify-content: space-around;
    padding: 1em 2em;
    align-items: center;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.search-bar > form {
    width: 100%;
    height: 5vh;
}
.search-bar > input {
    width: 100%;
    height: 5vh;
}

.search-bar > form > input {
    margin: 0;
    background: #DA4AC21A 0% 0% no-repeat padding-box;
    border: 1px solid #330436;
    border-radius: 2em;
    width: 90%;
    height: 100%;
    text-align: center;
    letter-spacing: 0.72px;
    color: #330436 ;
    box-sizing: border-box;
    padding: 0.5em 0.5em;
    opacity: 0.7;
}
.search-bar > input {
    margin: 0;
    background: #DA4AC21A 0% 0% no-repeat padding-box;
    border: 1px solid #330436;
    border-radius: 2em;
    width: 90%;
    height: 100%;
    text-align: center;
    letter-spacing: 0.72px;
    color: #330436 ;
    box-sizing: border-box;
    padding: 0.5em 0.5em;
    opacity: 0.7;
}

.search-bar >  input::placeholder {
    color: #330436;
}


.project-image {
    background-color: white;
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #330436;
    border-radius: 76px 76px 0px 0px;
}
.project-image>a>img{
    border-radius: 100%;
    width: 100%;
    height: 100%;
}


.project-image > a{
    margin: 0 !important;
    display: flex;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: #330436 1px solid;
    justify-content: center;
    align-items: center;
}

.want-to-go-container{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.want-to-go{
    padding: 0.5vh;
    font-weight: 900;
    font-size: 2vh;
    color: #330436;
    text-decoration: underline;
    border: 1px solid #330436;
    border-radius: 18px;
}

.project-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #DA4AC21A 0% 0% no-repeat padding-box;
    width: 80%;
    height: 80%;
    max-height: 50%;
    border: 1px solid #330436;
    border-top: none;
    border-radius: 0px 0px 76px 76px;
    opacity: 0.83;
}

.project-info > h2 {
    display: block;
    padding: 1vh;
    min-height: 10%;
    margin: 0px;
    text-align: center;
    font: normal normal normal 3vh Georgia;
    letter-spacing: 0px;
    color: #5B0461;
    opacity: 1;
}

.project-info > p {
    line-height: 1;
    display: block;
    margin: 0px;
    padding: 0.5em;
    height: fit-content;
    height: 45%;
    width: 90%;
    flex-wrap: wrap;
    text-align: center;
    font: normal normal normal 2.2vh Arial;
    color: #5B0461;
    overflow: hidden;
    text-overflow: ellipsis;
}

.social-section {
    margin-top: 1vh;
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: #5B0461;
}

.social-section > i {
    display: flex;
    width: 15%;
    justify-content: space-around;
    font-size: 3vh;
}

.button-container {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.join-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 40%;
    border-radius: 32px;
    border: none;
    color: #ffffff;
    background: transparent linear-gradient(180deg, #5b0461 0%, #7c3e72b3 100%) 0% 0% no-repeat padding-box;
    font: normal normal bold 2vh Roboto Slab;
}


.date-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4vh;
    font-size: 1vh;

    justify-content: space-around;
    align-items: center;
}

.date{
    font-size: 10px;
}



.filter{
    margin-left: 3vw;
    border-radius: 32px;
    background: transparent linear-gradient(180deg, #5b0461 0%, #7c3e72b3 100%) 0% 0% no-repeat padding-box;;
    color: white;
    font-weight: 700;
}

.filter option{
    background-color: #DA4AC21A;
    color: #330436;
}


@keyframes my-animation {
    from{
        opacity: 1.0;
    }
    to{
        opacity: 0;
    }
}

.animation{
    position: relative;
    transform: translateY(-80vh);
    transition-duration: 1s;
    transition-timing-function: ease-out;
    animation-name: my-animation;
    animation-duration: 1s;
}

/* width */
::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #DA4AC21A 0% 0% no-repeat padding-box;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #5b0461 0%, #7c3e72b3 100%) 0%;
    border-radius:12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #5b0461 0%, #7c3e72b3 100%) 0%
    0% no-repeat padding-box;
}